/* Add screen styles below */

body {

    background: #fff;  
    margin: 0;
    padding: 0;
    color: #252424;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    display: flex;
}

article{
    margin:25px;
    padding: 25px;
}
article:nth-of-type(1){
    flex: 3;
}
article:nth-of-type(2){
    flex: 3;
}
h1{
    flex: 1000px;
    color: #fff;
}
h2{
    text-align: center;
}
p{
    text-align: center;
    line-height: 1.8 cm;
}

img{
   float: right;
}
a.link{
    color: #fff;
}
a.active {
    color: #fff;
    font-weight: bold;
}

header{
    padding-left: 10px;
    display: flex;
    width: 100%;
    background-color: #252424;
    line-height: .8cm;
    position: sticky;
    top: 0;
    
}
nav{
    width: 100%;
    padding-top: 25px;
    padding-left: 290px;
    font-size: large;
    
}


a :visited{
    color: white;
}
a:active{
 color: white;
}

