/* Add screen styles below */

body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 50px solid #252424;
    margin: 0;
    padding: 40px;
    color: #252424;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article{
    margin:60px ;
}
p{
    line-height: 1.8 cm;
}

img{
    position: relative;
    left: 250px;
}

a.active {
    font-weight: bold;
}

header{
    text-align: center;
    position: sticky;
    top: 0;
}
nav{
    font-size: large;
    color: #fff;
}

